
<section>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner carousel-sfondo" role="listbox">
    <div class="item active" style="background:url(assets/home1.jpg) center center; background-size:cover;">
      <!-- NB: il carousel adatta le sue dimensioni alle immagini. Se ci sono immagini di dimensioni diverse il carousel adotta due dimensioni diverse, la più adatta per ciascuna immagine -->
      <div class="carousel-caption homecar">
        <h1>Innovating Washing Systems</h1>
        <p>World leader in the development and manufacturing of vertical and horizontal washing machines</p>
      </div>
    </div>
    <div class="item" style="background:url(assets/home3.jpg) center center; background-size:cover;">
      <div class="carousel-caption homecar">
        <h1>Industry proven high quality</h1>
        <p>Customized solutions and energy saving machines with the most envied price-quality ratio in the market</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</section>