<div class="container-fluid">

<h2 style="color: #346782" class="center">
<strong>Our Products</strong></h2></br></br>

<div id="slider-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#slider-carousel" data-slide-to="1"></li>
    <li data-target="#slider-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner slider-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="media">
          <div class="media-left media-middle">
            <img class= "img-responsive img-rounded" src="assets/glass1.jpg" alt="Horizontal Machines">
          </div>
          <div class="media-body">
            <h4 class="media-heading"><strong>HTL</strong></h4>
            <p>HTL are the series of sturdy, innovative and reliable horizontal washing machines developed for the flat glass industry that guarantees an excellent cleaning and perfect drying quality. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
       <div class="media">
         <div class="media-left media-middle">
           <img class= "img-responsive img-rounded" src="assets/glass2.jpg" alt="Horizontal Machines">
          </div>
          <div class="media-body">
            <h4 class="media-heading"><strong>HTL</strong></h4>
            <p>HTL are the series of sturdy, innovative and reliable horizontal washing machines developed for the flat glass industry that guarantees an excellent cleaning and perfect drying quality. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="media">
          <div class="media-left media-middle">
            <img class= "img-responsive img-rounded" src="assets/glass3.jpg" alt="Horizontal Machines">
         </div>
          <div class="media-body">
           <h4 class="media-heading"><strong>HTL</strong></h4>
           <p>HTL are the series of sturdy, innovative and reliable horizontal washing machines developed for the flat glass industry that guarantees an excellent cleaning and perfect drying quality. </p>
          </div>
       </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#slider-carousel" role="button" data-slide="prev">
    <!-- NIENTE FRECCE <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>  -->
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#slider-carousel" role="button" data-slide="next">
    <!-- NIENTE FRECCE <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  -->
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Single button -->
<div class="container-fluid">
<div class="btn-group dropup btn-centro-destra">
  <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Products <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="h_mach">Horizontal Machines</a></li>
    <li class="divider"></li>
    <li><a href="vtl_com">VTL compact series</a></li>
    <li class="divider"></li>
    <li><a href="vtl_dyn">VTL dynamic series</a></li>
    <li class="divider"></li>
    <li><a href="access">Accessories</a></li>
  </ul>
</div>
</div>

</div>