
<section> <!-- trittico -->
  <div class="container-fluid">
    <h1 class="center titolone clr"><strong>What sets us apart</strong></h1>
    <div class="trittico">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail thumbnail-trittico">
            <img src="assets/innovation.png" alt="Quality & Innovation" />
            <div class="caption">
              <h3>Quality & Innovation</h3>
              <p>The foundation of our success is our high concern for quality and investments in new technologies</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail thumbnail-trittico">
            <img src="assets/experience.png" alt="Creativity & Experience" />
            <div class="caption">
              <h3>Creativity & Experience</h3>
              <p>Commitment to making continuous improvements, planning with creativity and experience</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail thumbnail-trittico">
            <img src="assets/reliability.png" alt="Reliability" />
            <div class="caption">
              <h3>Reliability</h3>
              <p>The result is a high-end, reliable and innovative end product that guarantees high performing capacities</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section> <!-- /trittico -->