<section> <!-- Immagine Header -->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  	<div class="carousel-inner carousel-sfondo" role="listbox">
    	<div class="item active" style="background:url(assets/about_new.jpg); height:270px; center center; background-size:cover;">
    	 <div class="carousel-caption">
        <h1>About the Company</h1>
      </div>
    	</div>
  	</div>
	</div>
</section> <!-- /Immagine Header -->

<div class="container-fluid">

	<article> <!-- Testo About -->
		<div class="row">
			<div class="col-md-2 col-lg-2"></div>
			<div class="col-md-8 col-lg-8">
				</br/>
				<br/>
				<br/>
				<p><strong>IWS</strong> is a dynamic world leading company, specialized in the developing and manufacturing of <strong>vertical and horizontal washing machines</strong> for <strong>Architectural, Automotive</strong> and <strong>Solar</strong> process and <strong>automatic insulating glass production lines</strong> that can be provided of all the necessary <strong>equipment</strong>.</br>
				<br/>
				The company consists of employees with more than twenty years of <strong>experience</strong> in the field.<br/> 
				Our mission is to combine the strong <strong>know-how</strong> and the <strong>innovation</strong> of <strong>new solutions, materials and applications</strong> aiming at a <strong>high-end product</strong> for integration in <strong>fully automated</strong> production lines to <strong>stand-alone</strong> solutions.</br>
				<br/>
				The <strong>daily commitment</strong> of our Research & Development team and continuous investment in <strong>new technologies</strong> permits to offer <strong>innovative, high quality, industry proven</strong> and <strong>low risk</strong> machines with the most envied <strong>price-quality ratio</strong> available on the market.</br>
				<br/>
				Among this, we can proudly mention to have engineered an <strong>Eco-Save system</strong> that guarantees up to <strong>70% reduced energy consumptions</strong>.<br/>
				<br/>
				The <strong>after-sales service</strong> is guaranteed by our technical staff and large sales network that are continuously in direct contact with each other.</p>
			</div>
	  	<div class="col-md-2 col-lg-2"></div>
		</div>
	</article> <!-- /Testo About -->

</div>
