
<section> <!-- Immagine Header -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carousel-sfondo" role="listbox">
      <div class="item active" style="background:url(assets/bb.jpg); height:270px; center center; background-size:cover;">
      <div class="carousel-caption">
        <h1>Horizontal Machines</h1>
      </div>
      </div>
    </div>
  </div>
</section> <!-- /Immagine Header -->

<section> <!-- Prodotti -->
  <div class="container-fluid">
    <br/>
    <div class="row scaccomatto gretel">
      <div class="col-md-4 quadrato">
        <img src="assets/HTL/htl_comp1.jpg" class="img-responsive img-rounded pointer" width="300" alt="HTL Compact" data-toggle="modal" data-target="#Modal_htl_comp1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/HTL/htl_comp2.jpg" class="img-responsive img-rounded pointer" width="300" alt="HTL Compact" data-toggle="modal" data-target="#Modal_htl_comp2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/HTL/htl_comp3.jpg" class="img-responsive img-rounded pointer" width="300" alt="HTL Compact" data-toggle="modal" data-target="#Modal_htl_comp3" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <br/>
      </div>
      <br/>
      <br/>
      <div class="col-md-7">
        <article>
          <h3>HTL COMPACT Series</h3>
          <p>HTL COMPACT are the series Low-Budget horizontal glass washing –and drying machines that guarantees good cleaning and drying performances. As Stand-Alone or Integrated solution, the machine can be provided of various options.<br/>
          <br/>
          In its basic version the machine is foreseen of:<br/>
          <br/>
          • Motorized loading conveyor <br/>
          • Two independent washing sections - four brushes (2 + 2) <br/>
          •  Independent rinsing spraying bar with Ve-Jet nozzles<br/>
          • Independent drying section - four air knives in Z-Pattern (2 + 2) <br/>
          • Motorized unloading conveyor with lamps<br/>
          <br/>
          <br/>
          The available production range is from 1300 up to 3300 mm.<br/>
          <br/>
          • Wide use of high quality stainless steel «INOX AISI 304» <br/>
          • Wetted parts made of stainless steel and anti-corrosive materials<br/>
          • Independent washing, rinsing and drying sections  <br/>
          • Cylindrical, rectified and balanced nylon brushes with stainless steel axes <br/>
          • Stainless steel tanks foreseen of immersion pumps (Wetted part stainless steel) <br/>
          • Double water filtering system (Stainless steel flat screen and cartridge filter) <br/>
          • Automatic water level control  <br/>
          • Stainless steel spraying bars provided of Vee-Jet nozzles to ensure the correct spray pattern<br/>
          • Stainless steel air knives <br/>
          • High performing fan inside machine with filter<br/>
          • Working speed up to 5 m/min. controlled by inverter indicated on Digital Display<br/>
          • Automatic glass thickness adjustment up to 13 mm <br/>
          • Noise level within the established standards values (≤ 80 dB) <br/>
          • Reduced water consumption due to independent recycling flowing systems<br/>
          • Easy access to water tanks and mechanical parts<br/>
          • Independent pre-rinsing section (Option) <br/>
          • Glass thickness up to 19 mm by pneumatic lifting device (Step-System) (Option) <br/>
          • Mill-metric glass thickness adjustment up to 30 mm indicated on Digital Display (Option) <br/>
          • Eco-Save-System (Up to 70% reduced energy consumption!) (Option) <br/>
          • Kit for Low-E Soft coated glass (Option) <br/>
          • Machine manufactured by the foreseen CE / UL / CSA Norms</p>
        </article>
        <br/>
      </div>
    </div>
    <div class="row scaccomatto">
    <div class="col-md-4 quadrato">
        <img src="assets/HTL/htl_s_comp1.jpg" class="img-responsive img-rounded pointer" width="300" alt="HTL Super Compact" data-toggle="modal" data-target="#Modal_htl_s_comp1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/HTL/htl_s_comp2.jpg" class="img-responsive img-rounded pointer" width="300" alt="HTL Super Compact" data-toggle="modal" data-target="#Modal_htl_s_comp2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/HTL/htl_s_comp3.jpg" class="img-responsive img-rounded pointer" width="300" alt="HTL Super Compact" data-toggle="modal" data-target="#Modal_htl_s_comp3" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <br/>
      </div>
      <br/>
      <br/>
      <div class="col-md-7">
        <article>
          <h3>HTL SUPER COMPACT Series</h3>
          <p>The series of horizontal glass washing –and drying machines that guarantees good cleaning and drying performances. Especially developed for small glass sizes.
          <br/><br/>
          In its basic version the machine is foreseen of:<br/>
          • Motorized loading conveyor <br/>
          • Two independent washing sections - four brushes (2 + 2) <br/>
          • Independent rinsing spraying bar with Vee-Jet nozzles <br/>
          • Independent drying section - four air knives (2 + 2) <br/>
          • Motorized unloading conveyor with lamps <br/>
          <br/>
          The available production range is from 600 up to 1000 mm.<br/>
          <br/>
          • Wide use of high quality stainless steel «INOX AISI 304» <br/>
          • Wetted parts made of stainless steel and anti-corrosive materials <br/>
          • Independent washing, rinsing and drying sections  <br/>
          • Cylindrical, rectified and balanced nylon brushes with stainless steel axes <br/>
          • Stainless steel tanks foreseen of immersion pumps (Wetted part stainless steel) <br/>
          • Double water filtering system (Stainless steel flat screen and cartridge filter) <br/>
          • Automatic water level control  <br/>
          • Stainless steel spraying bars provided of Vee-Jet nozzles to ensure the correct spray pattern <br/>
          • Stainless steel air knives <br/>
          • High performing fan inside machine with filter <br/>
          • Working speed up to 5 m/min. controlled by inverter indicated on Digital Display <br/>
          • Glass thickness up to 19 mm (Step system) <br/>
          • Noise level within the established standards values (≤ 80 dB) <br/>
          • Reduced water consumption due to independent recycling flowing systems <br/>
          • Easy access to water tanks and mechanical parts <br/>
          • Independent pre-rinsing section (Option) <br/>
          • Kit for Low-E Soft coated glass (Option) <br/>
          • Machine manufactured by the foreseen CE / UL / CSA Norms<br/></p>
        </article>
        <br/>
     </div>
   </div>
    <div class="row scaccomatto gretel">
      <div class="col-md-4 quadrato">
        <img src="assets/HTL/htl_dyn1.JPG" class="img-responsive img-rounded pointer" width="300" alt="HTL Dynamic" data-toggle="modal" data-target="#Modal_htl_dyn1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/HTL/htl_dyn2.JPG" class="img-responsive img-rounded pointer" width="300" alt="HTL Dynamic" data-toggle="modal" data-target="#Modal_htl_dyn2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/HTL/htl_dyn3.JPG" class="img-responsive img-rounded pointer" width="300" alt="HTL Dynamic" data-toggle="modal" data-target="#Modal_htl_dyn3" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <br/>
      </div>
      <br/>
      <br/>
      <div class="col-md-7">
        <article>
          <h3>HTL DYNAMIC Series</h3>
          <p>HTL DYNAMIC are the series of horizontal glass washing –and drying machines that guarantees high cleaning –and drying performances. As Stand-Alone or Integrated solution, the machine can be provided of various options.<br/>
          <br/>
          In its basic version the machine is foreseen of:
          <br/><br/>
          • Motorized loading conveyor <br/>
          • Three independent washing sections - six brushes (3 + 3) <br/>
          •  Independent rinsing section <br/>
          • Independent drying section - four air knives in Z-Pattern (2 + 2) <br/>
          • Motorized unloading conveyor <br/>
          <br/><br/>
          The available production range is from 2000 up to 3300 mm.
          <br/><br/>
          • PLC controlled with touch screen (TS) control panel<br/>
          • Wide use of high quality stainless steel «INOX AISI 304» <br/>
          • Wetted parts made of stainless steel and anti-corrosive materials<br/>
          • Independent washing, rinsing and drying sections  <br/>
          • Cylindrical, rectified and balanced nylon brushes with stainless steel axes <br/>
          • Stainless steel tanks foreseen of immersion pumps (Wetted part stainless steel) <br/>
          • Double water filtering system (Stainless steel flat screen and cartridge filter) <br/>
          • Automatic water level control  <br/>
          • Stainless steel spraying bars provided of Vee-Jet nozzles to ensure the correct spray pattern<br/>
          • Stainless steel transport rollers covered until extremity with vulcanized «NBR» rubber <br/>
          • Transmission by conical pinions made of hard nylon with glass fibre on stainless steel shafts<br/>
          • Stainless steel air knives<br/>
          • High performing fan in insulated box with filter mounted onto sturdy frame<br/>
          • Working speed up to 6 m/min. controlled by inverter <br/>
          • Mill-metric glass thickness adjustment up to 40 mm<br/>
          • Motorized lifting device upper part up to 500 mm by motorized screw jacks<br/>
          • Noise level within the established standards values (≤ 80 dB) <br/>
          • Reduced water consumption due to independent recycling flowing systems<br/>
          • Easy access to water tanks and mechanical parts<br/>
          • Independent pre-rinsing section (Option) <br/>
          • Eco-Save-System (Up to 70% reduced energy consumption!) (Option) <br/>
          • Kit for Low-E Soft coated glass (Option) <br/>
          • Working speed up to 10 m/min. or more (Option) <br/>
          • Machine manufactured by the foreseen CE / UL / CSA Norms</p>
        </article>
        <br/>
      </div>
    </div>
   </div>
</section> <!-- /Prodotti -->
 
<div class="modal" id="Modal_htl_comp1"> <!-- Tutti i Modals per ingrandire le immagini -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">HTL Compact</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/HTL/htl_comp1.jpg" alt="HTL Compact">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_htl_comp2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">HTL Compact</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/HTL/htl_comp2.jpg" alt="HTL Compact">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_htl_comp3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">HTL Compact</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/HTL/htl_comp3.jpg" alt="HTL Compact">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_htl_s_comp1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">HTL Super Compact</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/HTL/htl_s_comp1.jpg" alt="HTL Super Compact">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_htl_s_comp2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">HTL Super Compact</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/HTL/htl_s_comp2.jpg" alt="HTL Super Compact">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_htl_s_comp3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">HTL Super Compact</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/HTL/htl_s_comp3.jpg" alt="HTL Super Compact">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_htl_dyn1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">HTL Dynamic</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/HTL/htl_dyn1.JPG" alt="HTL Dynamic">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_htl_dyn2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">HTL Dynamic</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/HTL/htl_dyn2.JPG" alt="HTL Dynamic">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_htl_dyn3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">HTL Dynamic</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/HTL/htl_dyn3.JPG" alt="HTL Dynamic">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
