
<section> <!-- Immagine Header -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carousel-sfondo" role="listbox">
      <div class="item active" style="background:url(assets/bb.jpg); height:270px; center center; background-size:cover;"></div>
      <div class="carousel-caption">
        <h1>Insulating Glass Lines</h1>
      </div>
    </div>
  </div>
</section> <!-- /Immagine Header -->

<section> <!-- Prodotti -->
  <div class="container-fluid">
    <br/>
    <div class="row scaccomatto gretel">
      <div class="col-xs-12 col-sm-12 col-md-4 quadrato lined">
        <img src="assets/IGL/igl1.jpg" class="img-responsive img-rounded pointer" width="300" alt="IGL" data-toggle="modal" data-target="#Modal_igl1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <img src="assets/IGL/igl2.jpg" class="img-responsive img-rounded pointer" width="300" alt="IGL" data-toggle="modal" data-target="#Modal_igl2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <img src="assets/IGL/igl4.jpg" class="img-responsive img-rounded pointer" width="300" alt="IGL" data-toggle="modal" data-target="#Modal_igl4" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <img src="assets/IGL/igl7.jpg" class="img-responsive img-rounded pointer" width="300" alt="IGL" data-toggle="modal" data-target="#Modal_igl7" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
      </div>
      <div class="col-xs-9 col-md-7">
        <article>
          <h3>IGL</h3>
          <p>The series of automatic insulating glass lines suitable for the production of Double & Triple IG units. <br/>
          Sturdy and reliable machine that ensures quick cycles times.<br/>
          <br/>
          The plant is composed by:<br/>
          • Loading conveyor washing machine<br/>
          • Vertical glass washing machine (Series VTL COMPACT or VTL DYNAMIC )<br/>
          • Unloading conveyor washing machine with lamps<br/>
          • Frame Mounting and Assembling station <br/>
          • Loading conveyor press<br/>
          • Automatic Panel Press or Roller Press<br/> 
          • Unloading conveyor press<br/>
          • Hydraulic tilting/Sealing table end of line (Option)<br/><br/>
          The available production range is from 1600 up to 3300 mm.<br/>
          <br/>
          • PLC controlled with touch screen (TS) control panel<br/>
          • Roller Press or Panel Press developed for quick cycles times<br/>
          • Noise level within the established standards values (≤ 80 dB)<br/>
          • Reduced water consumption due to independent recycling flowing systems<br/>
          • Easy access to mechanical parts<br/>
          • Kit for Structural (Stepped) IG units  (Option)<br/>
          • Machine manufactured by the foreseen CE / UL / CSA Norms<br/>
          <br/>
          Equipment:<br/>
          • Hot melt sealing machine<br/>
          • Hydraulic/Pneumatic Two-component sealing pump with freezer<br/>
          • Hydraulic butyl extruding machine<br/>
          • Pneumatic desiccant filling machine<br/>
          • Spacer frame cutting machine <br/>
          • Rotating sealing table<br/>
          • Automatic bending machine complete of desiccant filling machine<br/>
          • Automatic sealing robot<br/></p>
        </article>
        <br/>
        <div class="rows scaccomatto gretel">
        <div class="lined cen-igl">
          <div class="col-xs-9 col-md-4">
              <img src="assets/IGL/igl3.jpg" class="img-responsive img-rounded pointer" width="300" alt="IGL" data-toggle="modal" data-target="#Modal_igl3" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
          </div>
          <div class="col-xs-9 col-md-4">
                   <img src="assets/IGL/igl5.jpg" class="img-responsive img-rounded pointer" width="300" alt="IGL" data-toggle="modal" data-target="#Modal_igl5" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
          </div>
          <div class="col-xs-9 col-md-4">
                   <img src="assets/IGL/igl6.jpg" class="img-responsive img-rounded pointer" width="300" alt="IGL" data-toggle="modal" data-target="#Modal_igl6" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
          </div>
        </div> <!-- /Grid Foto -->
        </div>
        <br/><br/>
      </div>
    </div>
   </div>
</section> <!-- /Prodotti -->

<div class="modal" id="Modal_igl1"> <!-- Tutti i Modal per ingrandire le immagini -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">IGL</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/IGL/igl1.jpg" alt="IGL">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_igl2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">IGL</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/IGL/igl2.jpg" alt="IGL">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_igl4">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">IGL</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/IGL/igl4.jpg" alt="IGL">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_igl7">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">IGL</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/IGL/igl7.jpg" alt="IGL">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_igl3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">IGL</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/IGL/igl3.jpg" alt="IGL">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_igl5">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">IGL</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/IGL/igl5.jpg" alt="IGL">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_igl5">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">IGL</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/IGL/igl5.jpg" alt="IGL">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_igl6">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">IGL</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/IGL/igl6.jpg" alt="IGL">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
