
<section> <!-- Immagine Header -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carousel-sfondo" role="listbox">
      <div class="item active" style="background:url(assets/bb.jpg); height:270px; center center; background-size:cover;"></div>
      <div class="carousel-caption">
        <h1>Vertical Machines</h1>
      </div>
    </div>
  </div>
</section> <!-- /Immagine Header -->

<section> <!-- Prodotti -->
  <div class="container-fluid">
    <br/>
    <div class="row scaccomatto gretel">
      <div class="col-md-4 quadrato">
        <img src="assets/VTL/vtl_400_ot1.jpg" class="img-responsive img-rounded pointer" width="300" alt="VTL 400 OT Super Inox" data-toggle="modal" data-target="#Modal_vtl_400_ot1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/VTL/vtl_400_ot2.jpg" class="img-responsive img-rounded pointer" width="300" alt="VTL 400 OT Super Inox" data-toggle="modal" data-target="#Modal_vtl_400_ot2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
      </div>
      <div class="col-md-7">
        <article>
         <h3>VTL 400 OT SUPER INOX Series</h3>
          <p>The series vertical glass washing –and drying machines that are especially developed to install in-line with straight line edging/bevelling machines.<br/>
          Ideal solution for the cleaning of edge/bevel residues and cerium-oxide. <br/>
          <br/>
          The machine is composed of:<br/>
          • Independent washing section - two brushes (1 + 1)<br/>
          • Independent drying section - two air knives (1 + 1)<br/>
          <br/>
          The available production range is 400 OT (Open Top):<br/>
          <br/>
          • Wide use of high quality stainless steel «INOX AISI 304» <br/>
          • Wetted parts made of stainless steel and anti-corrosive materials <br/>
          • Independent washing and drying sections  <br/>
          • Cylindrical, rectified and balanced nylon brushes with stainless steel axes <br/>
          • Stainless steel tank for water recovery with discharge valve <br/>
          • Stainless steel spraying bars <br/>
          • Manual adjustment glass thickness up to 50 mm by rotating hand-wheel  with indicator <br/>
          • High performing fan on sturdy stainless steel frame <br/>
          • Noise level within the established standards values (≤ 80 dB)<br/>
          • Control panel with push-buttons<br/>
          • Easy access to water tanks and mechanical parts<br/>
          • Kit for Low-E Soft coated glass (Option)<br/>
          • Machine manufactured by the foreseen CE / UL / CSA Norms<br/></p>
        </article>
        <br/>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="row scaccomatto">
      <div class="col-md-4 quadrato">
        <img src="assets/VTL/vtl_comp1.jpg" class="img-responsive img-rounded pointer" width="300" alt="VTL Compact" data-toggle="modal" data-target="#Modal_vtl_comp1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/VTL/vtl_comp2.jpg" class="img-responsive img-rounded pointer" width="300" alt="VTL Compact" data-toggle="modal" data-target="#Modal_vtl_comp2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
      </div>
      <div class="col-md-7">
        <article>
          <h3>VTL COMPACT Series</h3>
          <p>Tthe series Low-Budget vertical glass washing –and drying machines that guarantees good cleaning and drying performances. As Stand-Alone or Integrated solution, the machine can be provided of various options.<br/>
          <br/>
          In its basic version the machine is composed of:<br/>
          • Motorized loading conveyor <br/>
          • Two independent washing sections - four brushes (2 + 2)<br/>
          •  Independent rinsing section<br/>
          • Independent drying section - two air knives (1 + 1)<br/>
          • Motorized unloading conveyor with lamps<br/>
          <br/>
          The available production range is from 1500 OT (Open Top) up to 2600 mm.<br/>
          <br/>
          • Wide use of high quality stainless steel «INOX AISI 304» <br/>
          • Wetted parts made of stainless steel and anti-corrosive materials <br/>
          • Independent washing, rinsing and drying sections  <br/>
          • Cylindrical, rectified and balanced nylon brushes with stainless steel axes <br/>
          • Stainless steel tanks foreseen of centrifugal pumps and cartridge filter<br/>
          • Automatic water level control<br/>  
          • Stainless steel spraying bars provided of Vee-Jet nozzles to ensure the correct spray pattern<br/>
          • Working speed up to 5 m/min. controlled by inverter <br/>
          • Automatic glass thickness adjustment up to 13 mm <br/>
          • Stainless steel internal covers foreseen of transparent Lexan material<br/>
          • High performing fan in insulated box with filter<br/>
          • Noise level within the established standards values (≤ 80 dB)<br/>
          • Reduced water consumption due to independent recycling flowing systems<br/>
          • Easy access to water tanks and mechanical parts<br/>
          • Independent pre-rinsing section with tank, centrifugal pump and cartridge filter (Option)<br/>
          • Mill-metric glass thickness adjustment up to 19 or 30 mm indicated on Digital Display (Option)<br/>
          • Eco-Save-System (Up to 60% reduced energy consumption!) (Option)<br/>
          • Kit for Low-E Soft coated glass (Option)<br/>
          • Machine manufactured by the foreseen CE / UL / CSA Norms<br/></p>
        </article>
        <br/>
     </div>
   </div>
   <br/>
   <br/>
   <br/>
    <div class="row scaccomatto gretel">
      <div class="col-md-4 quadrato">
        <img src="assets/VTL/vtl_dyn1.jpg" class="img-responsive img-rounded pointer" width="300" alt="VTL Dynamic" data-toggle="modal" data-target="#Modal_vtl_dyn1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/VTL/vtl_dyn2.jpg" class="img-responsive img-rounded pointer" width="300" alt="VTL Dynamic" data-toggle="modal" data-target="#Modal_vtl_dyn2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/VTL/vtl_dyn3.jpg" class="img-responsive img-rounded pointer" width="300" alt="VTL Dynamic" data-toggle="modal" data-target="#Modal_vtl_dyn3" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
      </div>
      <div class="col-md-7">
        <article>
          <h3>VTL DYNAMIC Series</h3>
          <p>VTL DYNAMIC are the series of vertical glass washing –and drying machines that guarantees
          high cleaning –and drying performances. As Stand-Alone or Integrated solution, the machine can be provided of various options.<br/>
          <br/>
          In its basic version the machine is foreseen of:<br/>
          <br/>
          • Motorized loading conveyor <br/>
          • Three independent washing sections - six brushes (3 + 3) <br/>
          •  Independent rinsing section <br/>
          • Independent drying section – two air knives (1 + 1) <br/>
          • Motorized unloading conveyor with lamps <br/>
          <br/>
          <br/>
          The available production range is from 2000 OT (Open Top) up to 3300 mm.<br/>
          <br/>
          • PLC controlled with touch screen (TS) control panel<br/>
          • Wide use of high quality stainless steel «INOX AISI 304» <br/>
          • Wetted parts made of stainless steel and anti-corrosive materials<br/>
          • Independent washing, rinsing and drying sections  <br/>
          • Cylindrical, rectified and balanced nylon brushes with stainless steel axes <br/>
          • Stainless steel tanks foreseen of immersion pumps (Wetted part stainless steel) <br/>
          • Double water filtering system (Stainless steel flat screen and cartridge filter) <br/>
          • Automatic water level control  <br/>
          • Stainless steel spraying bars provided of Vee-Jet nozzles to ensure the correct spray pattern<br/>
          • Stainless steel transport rollers covered until extremity with vulcanized «NBR» rubber <br/>
          • Transmission by conical pinions made of hard nylon with glass fibre on stainless steel shafts<br/>
          • Stainless steel air knives<br/>
          • High performing fan in insulated box with filter <br/>
          • Stainless steel internal covers foreseen of transparent Lexan material<br/>
          • Working speed up to 6 m/min. controlled by inverter <br/>
          • Mill-metric glass thickness adjustment up to 50 mm by motorized screw jacks<br/>
          • Noise level within the established standards values (≤ 80 dB) <br/>
          • Reduced water consumption due to independent recycling flowing systems<br/>
          • Easy access to water tanks and mechanical parts<br/>
          • Independent pre-rinsing section with tank, immersion pump and double filtering system (Option) <br/>
          • Eco-Save-System (Up to 70% reduced energy consumption!) (Option) <br/>
          • Kit for Low-E Soft coated glass (Option) <br/>
          • Glass thickness up 70 mm (Option) <br/>
          • Machine manufactured by the foreseen CE / UL / CSA Norms</p>
        </article>
        <br/>
      </div>
    </div>
   </div>
</section> <!-- /Prodotti -->
 
<div class="modal" id="Modal_vtl_400_ot1"> <!-- Tutti i Modals per ingrandire le immagini -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">VTL 400 OT Super Inox</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/VTL/vtl_400_ot1.jpg" alt="VTL 400 OT Super Inox">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_vtl_400_ot2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">VTL 400 OT Super Inox</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/VTL/vtl_400_ot2.jpg" alt="VTL 400 OT Super Inox">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_vtl_comp1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">VTL Compact</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/VTL/vtl_comp1.jpg" alt="VTL Compact">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_vtl_comp2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">VTL Compact</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/VTL/vtl_comp2.jpg" alt="VTL Compact">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_vtl_dyn1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">VTL Dynamic</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/VTL/vtl_dyn1.jpg" alt="VTL Dynamic">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_vtl_dyn2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">VTL Dynamic</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/VTL/vtl_dyn2.jpg" alt="VTL Dynamic">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_vtl_dyn3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">VTL Dynamic</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/VTL/vtl_dyn3.jpg" alt="VTL Dynamic">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
