<nav class="navbar navbar-default navbar-static-bottom" role="navigation">
  <div class="container">
    <div class="foot-left">&copy; <b>I</b>nnovating <b>W</b>ashing <b>S</b>ystems S.r.l.</div>
    <div class="foot-right">Developed by <b>Fatevobis</b> with <i>class</i>.</div>
  </div>
</nav>